:root {
  --sunny-bg: #fcd68b;
  --sunny-text: #517a8b;
  --sunny-sec: #fcd68b;

  --cloudy-bg: #E4E9E9;
  --cloudy-text: #7A879E;
  --cloudy-sec: #EBD3CD;
}

body, html {
  width: 100%;
  overflow-x: hidden;
}

body {
  font-family: 'Inconsolata', monospace;
  transition: background-color .7s ease-in-out;
}

h1, h2, h3, h4, h5, h6, p {
  transition: color .7s ease-in-out;
}

/* sunny */
body.sunny {
  background-color: var(--sunny-bg);
}

body.sunny h1,
body.sunny h2,
body.sunny h3,
body.sunny h4,
body.sunny h5,
body.sunny h6,
body.sunny p {
  color: var(--sunny-text);
}

/* cloudy */
body.cloudy {
  background-color: var(--cloudy-bg);
}

body.cloudy h1,
body.cloudy h2,
body.cloudy h3,
body.cloudy h4,
body.cloudy h5,
body.cloudy h6,
body.cloudy p {
  color: var(--cloudy-text);
}

#paperCanvas {

}

#weather-intro {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.weather-icon {
  width: 100px;
  height: auto;
  transition: all .3s ease-in-out;
  cursor: pointer;
}

.weather-icon:hover {
  transform: scale(1.05);
  opacity: .7;
}
