@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&family=Rubik+Mono+One&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    @apply font-mono text-ash-500;
  }

  body {
    @apply m-0 bg-charcoal-600 min-h-screen transition-colors;
  }

  h1, h2, h3 {
    @apply font-rubik;
  }

  h1 {
    @apply text-5xl;
  }

  h2 {
    @apply text-4xl;
  }

  h3 {
    @apply text-3xl;
  }

  h4 {
    @apply text-2xl font-bold;
  }

  h5 {
    @apply text-xl font-bold;
  }

  h6 {
    @apply text-lg font-bold;
  }

  p {
    @apply text-base;
  }
}

:root {
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}